*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-container{
  padding: 0 20px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #232f3e;
}
.nav-container a,.nav-container .links-container a{
  color: white;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
}
.nav-container .links-container a{
  padding: 10px 15px;
}
.nav-container .links-container a:hover{
  color: rgb(192, 192, 192);
}
.upload-item{
  color: #232f3e !important;
  background-color: #febd69;
  border-radius: 5px;
}
.upload-item:hover{
  background-color: #fdd39b;
  border-radius: 5px;
}
.contenedorGaleria{
    
    color: #232f3e;
    padding: 10px;
}
.contenedorGaleria img{
    width: 100%;
  }
  .contenedorMiniaturas img{
    width: 25%;
    transition: .3s;
  }
  .contenedorMiniaturas img:hover{
    transform: scale(1.1);
    transition: .3s;
  }

  /*formulario de busqueda*/
  .form-container{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    background-color: #febd69;
    color: #232f3e;
  }
  .form-container h1{
    font-size: 50px;
    font-weight: 800;
  }
  .formulario-centrado h1{
    margin-bottom: 10px;
  }
  .formulario-busqueda{
    width: 80%;
    box-sizing: border-box;
    display: inline-block;

  }
  .formulario-busqueda input[type="search"]{
    outline: 0;
    border: none;
    width: 79%;
    height: 50px;
    line-height: 50px;
    padding: 10px;
    font-size: 1.2rem;
    position: relative;
  }
  .formulario-busqueda button{
    width:19.999%;
    border: none;
    position: relative;
    height: 50px;
    font-size: 1.2rem;
    cursor: pointer;
  
  }
  /*Estilos contenido principal*/
  .contendedor-contenidos-principal{
    display: flex;
  }
  .contenidos-left{
    background-color: #fdd39b;
    padding: 20px;
    width:20%;
  }
   .encabezado-producto p{
    margin: 0 !important;
    padding: 0;
  }

  .contenidos-right{
    width: 80%;
    display: flex;
    flex-flow: wrap;
    
  }
  .producto{
    width: 50%;
    padding: 20px;
    background-color: #fee9cc;
  }
  .nombre-producto{
    font-size: 40px;
    margin: 0;
  }
  /*Estilos para footer*/
  .contenedor-footer{
    background-color: #232f3e;
    color: white;
    min-height: 400px;
    padding: 20px 0;

  }
.footer-centrado{
  width: 80%;
 margin: 0 auto;
}
.contenidos-footer{
  display: flex;
}
.contenidos-footer div h3{
  color: #febd69;
  font-size: 24px;
  margin-bottom: 10px;
}
.contenidos-footer div{
  padding: 10px;
}
.copy{
text-align: center;
margin-top: 100px;

}